In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls ./data/clean

event_performance_clean.csv

In [36]:
clean_event_performance = pd.read_csv("./data/clean/event_performance_clean.csv", parse_dates=['event_date'])
users = pd.read_csv("./data/users.csv")

In [25]:
total_points_by_userid = clean_event_performance.groupby('userid')['points'].agg(sum)

In [28]:
positive_ids = total_points_by_userid[total_points_by_userid>0].index.values
negative_ids = total_points_by_userid[total_points_by_userid<0].index.values

In [51]:
positive_users_df = clean_event_performance[clean_event_performance['userid'].isin(positive_ids)]

negative_users_df = clean_event_performance[clean_event_performance['userid'].isin(negative_ids)]

In [52]:
merged_positive_df = users.merge(positive_users_df, how='left', left_on='userid', right_on='userid')

merged_negative_df = users.merge(negative_users_df, how='left', left_on='userid', right_on='userid')

In [60]:
merged_positive_df.groupby('attribute1').count() / merged_positive_df.shape[0]

              userid  attribute2  event_date      hour    points
attribute1
0           0.799535    0.799535    0.786835  0.786835  0.786835
1           0.200465    0.200465    0.198139  0.198139  0.198139

In [59]:
merged_positive_df.groupby('attribute2').count() / merged_positive_df.shape[0]

              userid  attribute1  event_date      hour    points
attribute2
A           0.310407    0.310407    0.303504  0.303504  0.303504
B           0.384539    0.384539    0.377561  0.377561  0.377561
C           0.305054    0.305054    0.303910  0.303910  0.303910

In [58]:
merged_negative_df.groupby('attribute1').count() / merged_negative_df.shape[0]

              userid  attribute2  event_date      hour    points
attribute1
0           0.865327    0.865327    0.806889  0.806889  0.806889
1           0.134673    0.134673    0.120152  0.120152  0.120152

In [61]:
merged_negative_df.groupby('attribute2').count() / merged_negative_df.shape[0]

              userid  attribute1  event_date      hour    points
attribute2
A           0.376129    0.376129    0.349655  0.349655  0.349655
B           0.588100    0.588100    0.562600  0.562600  0.562600
C           0.035771    0.035771    0.014787  0.014787  0.014787

In [74]:
positive_users_counts_by_attribute2 = merged_positive_df.groupby('attribute2').count()['userid']

negative_users_counts_by_attribute2 = merged_negative_df.groupby('attribute2').count()['userid']

In [75]:
counts_by_attribute2 = merged_df.groupby('attribute2').count()['userid']

In [81]:
pivot_df = pd.DataFrame([positive_users_counts_by_attribute2, negative_users_counts_by_attribute2], index=['positive_users', 'negative_users'])

In [84]:
from scipy import stats

# Chi square test for independence to check if attribute2 and total_points earned are dependent (correlated) or not

In [85]:
stats.chi2_contingency(pivot_df)

Chi2ContingencyResult(statistic=3407.059982194917, pvalue=0.0, dof=2, expected_freq=array([[ 8931.84315156, 12038.5098356 ,  6116.64701284],
       [ 3724.15684844,  5019.4901644 ,  2550.35298716]]))